#UIhealth{
    position: absolute;
    z-index:2;
    background-color: red;
    height:20px;
}
#gameover{
    position: fixed;
    left:250px;
    top: 200px;
    height: 280px;
    width: 400px;
    background-image: url("gameover.png");
    background-repeat: no-repeat;
    background-size:400px 280px;
}
#nextlevel{
    position: fixed;
    left:250px;
    top: 200px;
    height: 280px;
    width: 400px;
    background-image: url("gameover.png");
    background-repeat: no-repeat;
    background-size:400px 280px;
}
#restart{
    position: absolute;
    left:120px;
    top: 50px;
    height: 70px;
    width: 170px;
    background-image: url("restart.png");
    background-repeat: no-repeat;
    background-size:170px 70px;
}
#over{
    position: absolute;
    left:-250px;
    top: -350px;

}
#con{
    position: absolute;
    left:-250px;
    top: -350px;
    }
#next{
    position: absolute;
    left:120px;
    top: 50px;
    height: 70px;
    width: 170px;
    background-image: url("next.png");
    background-repeat: no-repeat;
    background-size:170px 70px;
}
.exit{
    position:absolute;
    left:120px;
    top: 150px;
    height: 70px;
    width: 170px;
    background-image: url("exit.png");
    background-repeat: no-repeat;
    background-size:170px 70px;
}
.bgm1{
    position:absolute;
    left:875px;
    top:0;
    height: 50px;
    width: 50px;
    background-image: url("喇叭.png");
    background-repeat: no-repeat;
    background-size:25px 25px;
    z-index: 5;
}
.bgm2{
    position:absolute;
    left:875px;
    top:0;
    height: 50px;
    width: 50px;
    background-image: url("喇叭静音.png");
    background-repeat: no-repeat;
    background-size:25px 25px;
    z-index: 5;
}